@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
.box{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: x-large;
    color: yellow;
    width: 200px;
    height: 200px;
    background-image: url("./assets/Img/boxNightWallpaper.jpg");
    background-position: center;
    background-size: contain;
    text-align: center;
    border: 5px dashed rgb(0,255,0);
    padding-top: 10px;
    margin: 50px 25px;
    line-height: 180px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.box:hover{
    color: purple;
    box-shadow: 10px 15px 10px 8px rgb(0, 0, 0);
    cursor: pointer;
    background-image: url("./assets/Img/boxDayWallpaper.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 1px 2px 5px rgb(255, 255, 255);
}
body{
    background:  url("./assets/Img/BodyNightBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px purple, 0 0 5px black;
}
